header
	nav.ui.attached.inverted.menu
		div.ui.container
			if auth
				a.item(href="/") Home
				div.right.menu
					if auth.isUploader
						a.item(href="/uploader") Uploader
					if auth.isAdmin
						a.item(href="/admin") Admin
						a.item(href="/actions") Action Log
					div.item
						img.ui.avatar.image(src=auth.info.avatar, alt="")
						span #{auth.info.tag}
					div.item
						a.ui.primary.button.btn.waves-effect.waves-light(href="/logout") Logout
	if breadcrumbs
		div.ui.bottom.attached.tertiary.segment
			div.ui.container
				div.ui.huge.breadcrumb
					a.section(href="/") #[i.home.icon]
					each item in breadcrumbs
						i.right.chevron.icon.divider
						a.section(href=item.url) #{item.text}
