header
	nav
		div.container
			div.nav-wrapper
				if auth
					ul.left
						li
							a(href="/") Home
					ul.right
						if auth.isUploader
							li
								a(href="/uploader") Uploader
						if auth.isAdmin
							li
								a(href="/admin") Admin
							li
								a(href="/actions") Action Log
						li
							img(src=auth.info.avatar, alt="", style="height: 35px; vertical-align: middle; padding-right: 5px;")
							span #{auth.info.tag}
						li
							a.btn.waves-effect.waves-light(href="/logout") Logout
	if breadcrumbs
		nav.breadcrumb-wrapper.grey
			div.container
				div.valign-wrapper
					a.breadcrumb(href="/") #[i.material-icons home]
					each item in breadcrumbs
						a.breadcrumb(href=item.url) #{item.text}
		link(rel="stylesheet", href="/assets/css/breadcrumbs.css")
