doctype html
html
	head
		title #{title}
	body
		nav
			div
				if auth
					ul.left
						li
							a(href="/") Home
					ul.right
						if auth.isUploader
							li
								a(href="/uploader") Uploader
						if auth.isAdmin
							li
								a(href="/admin") Admin
						li
							a(href="/logout") Logout
