doctype html
html
	head
		title Action Log – TheFlamingShark Links
		include includes/semantic_head.pug
	body
		include includes/header.pug
		main.ui.container
			div.ui.divided.items
				each entry in entries
					div.item
						div.content
							div.heading #{entry.userId}
							div.meta #{entry.timestamp.toISOString()}
							div.description
								p #{entry.action} #[br] #{entry.dataStr}
		include includes/footer.pug
