doctype html
html
	head
		title Admin Area – TheFlamingShark Links
		include includes/semantic_head.pug
		include includes/head.pug
	body
		include includes/header.pug
		main.ui.container
			h1.ui.header Admin
			h2.ui.header Uploaders
			div.ui.divided.items
				each uploader in uploaders
					div.item
						div.ui.mini.avatar.image
							img(src=uploader.info.avatar, alt="")
						div.content
							div.header #{uploader.info.tag}
							div.meta #{uploader.userId}
						button.ui.red.button.delete-uploader(data-id=uploader.userId) Delete
			h2.ui.header Add New Uploader
			div.row
				div.ui.action.input
					input#new-uploader(type="text", placeholder="Discord ID")
					button.ui.button#add-uploader Add
			h2.ui.header Data Import/Export
			div.ui.grid
				div.one.column.row
					div.column
						a.ui.button.fluid.s12#export(href="/api/export/links") Export Links
				div.three.column.row
					div.column
						button.ui.button.fluid.s4#import Import Links
					div.column
						input.column.s4#data-file(type="file", accept=".json")
					div.column.s4
						div.ui.toggle.checkbox
							input#clear(type="checkbox", disabled)
							label Clear existing shows, videos, and links
						div.ui.toggle.checkbox
							input#reset(type="checkbox", disabled)
							label Reset link IDs
		include includes/footer.pug
		script(src="/assets/js/admin.js")
