- title = title || 'Error'
doctype html
html
	head
		title #{title}
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			p error
		include includes/footer.pug
