- title = title || 'Error'
doctype html
html
	head
		title #{title} – TheFlamingShark Links
		include includes/semantic_head.pug
	body
		include includes/header.pug
		main.ui.container
			h1.ui.header Error
			p.text-description An unknown error has occurred.
		include includes/footer.pug
