- title = title || 'Error'
doctype html
html
	head
		title #{title} – TheFlamingShark Links
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 Error
			p.flow-text An unknown error has occurred.
		include includes/footer.pug
