- title = title || 'Gone'
doctype html
html
	head
		title #{title}
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 Gone
			p.flow-text This link is no longer available.
		include includes/footer.pug
		include includes/materialize_body.pug
