doctype html
html
	head
		title TheFlamingShark Links
		include includes/semantic_head.pug
	body
		include includes/header.pug
		main.ui.container
			each show in shows
				div.ui.fluid.link.card
					div.content
						a.header(href=`/${show.urlName}`) #{show.name}
		include includes/footer.pug
