doctype html
html
	head
		title TheFlamingShark Links
		include includes/semantic_head.pug
		include includes/head.pug
	body
		include includes/header.pug
		main.ui.container
			each show in shows
				a.ui.fluid.card(href=`/${show.urlName}`)
					div.content
						span.header #{show.name}
		include includes/footer.pug
