- title = title || 'Login Required'
doctype html
html
	head
		title Login Required – TheFlamingShark Links
		include includes/semantic_head.pug
	body
		include includes/header.pug
		main.ui.container
			h1.ui.header Not Logged In
			p.text-description You need to log in to view this page.
			div.ui.grid
				div.row.centered
					a.ui.huge.button(href='/login?target=' + redirectTarget) Log In Via Discord
		include includes/footer.pug
