- title = title || 'Login Required'
doctype html
html
	head
		title Login Required – TheFlamingShark Links
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 Not Logged In
			p.flow-text You need to log in to view this page.
			div.row
				a.btn.col.l2.offset-l5.m4.offset-m4.s8.offset-s2(href='/login?target=' + redirectTarget) Log In Via Discord
		include includes/footer.pug
