doctype html
html
	head
		title Login Error – TheFlamingShark Links
		include includes/semantic_head.pug
	body
		include includes/header.pug
		main.ui.container
			h1.ui.header Login Error
			p.text-description Something went wrong while trying to log in.
			p.text-description Go back or #[a(href='/login') try again].
		include includes/footer.pug
