- title = title || 'Login Required'
doctype html
html
	head
		title #{title}
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			p login required
			p
				a(href='/login?target=' + redirectTarget) Login
		include includes/footer.pug
