- title = title || 'Not Found'
doctype html
html
	head
		title #{title}
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			p 404
		include includes/footer.pug
