- title = title || 'Not Found'
doctype html
html
	head
		title #{title} – TheFlamingShark Links
		include includes/semantic_head.pug
	body
		include includes/header.pug
		main.ui.container
			h1.ui.header Not Found
			p.text-description The resource you were trying to reach could not be found.
		include includes/footer.pug
