- title = title || 'Not Found'
doctype html
html
	head
		title #{title} – TheFlamingShark Links
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 Not Found
			p.flow-text The resource you were trying to reach could not be found.
		include includes/footer.pug
