- title = title || 'Not in Guild'
doctype html
html
	head
		title #{title}
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			p 401
			p not in guild
		include includes/footer.pug
