- title = title || 'Unauthorized'
doctype html
html
	head
		title #{title}
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			p 401
			p You're not allowed to be here.
		include includes/footer.pug
