doctype html
html
	head
		title Unauthorized – TheFlamingShark Links
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 Unauthorized
			p.flow-text You don't have permission to view this page.
		include includes/footer.pug
