doctype html
html
	head
		title Unauthorized – TheFlamingShark Links
		include includes/semantic_head.pug
	body
		include includes/header.pug
		main.ui.container
			h1.ui.header Unauthorized
			p.text-description You don't have permission to view this page.
		include includes/footer.pug
