doctype html
html
	head
		title Uploader Area – TheFlamingShark Links
		include includes/semantic_head.pug
		link(rel="stylesheet", href="/assets/css/uploader.css")
	body
		include includes/header.pug
		main.ui.container
			h1.ui.header Upload
			h2.ui.header Add Link
			div.ui.grid
				div.row
					div.four.wide.column
						div.ui.search.search-shows
							div.ui.fluid.input
								input.prompt#add-show(type="text", placeholder="Show", data-search-videos="search-videos-add")
							div.results
					div.four.wide.column
						div.ui.search#search-videos-add
							div.ui.fluid.input
								input.prompt#add-episodes(type="text", placeholder="Episodes")
					div.five.wide.column
						div.ui.fluid.input
							input#add-url(type="text", placeholder="URL")
					div.three.wide.column
						button.ui.fluid.button#add-link Add
			h2.ui.header Delete Link
			div.ui.grid
				div.row
					div.four.wide.column
						div.ui.search.search-shows
							div.ui.fluid.input
								input.prompt#delete-show(type="text", placeholder="Show", data-search-videos="search-videos-delete")
					div.four.wide.column
						div.ui.search#search-videos-delete
							div.ui.fluid.input
								input.prompt#delete-episodes(type="text", placeholder="Episodes")
					div.five.wide.column
						div.ui.fluid.input
							input#delete-link-id(type="text", placeholder="Link ID")
					div.three.wide.column
						button.ui.fluid.button#delete-link Delete
		include includes/footer.pug
		script(src="/assets/js/uploader.js")
