doctype html
html
	head
		title Uploader Area – TheFlamingShark Links
		include includes/materialize_head.pug
	body
		include includes/header.pug
		main.container
			h1 Upload
			h2 Add Link
			div.row
				div.input-field.col.s4
					label(for="add-show") Show
					input.autocomplete.autocomplete-shows#add-show(type="text", data-autocomplete-videos="add-episodes")
				div.input-field.col.s4
					label(for="add-episodes") Episodes
					input.autocomplete.autocomplete-videos#add-episodes(type="text")
				div.input-field.col.s4
					label(for="add-url") URL
					input#add-url(type="text")
			button.btn#add-link Add
			h2 Delete Link
			div.row
				div.input-field.col.s4
					label(for="delete-show") Show
					input.autocomplete.autocomplete-shows#delete-show(type="text", data-autocomplete-videos="delete-episodes")
				div.input-field.col.s4
					label(for="delete-episodes") Episodes
					input.autocomplete.autocomplete-videos#delete-episodes(type="text")
				div.input-field.col.s4
					label(for="delete-link-id") Link ID
					input#delete-link-id(type="text")
			button.btn#delete-link Delete
		include includes/footer.pug
		script(src="/assets/js/uploader.js")
